<!--
  ionic -g page blogDetail generiert
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{ (blog$|async)?.title }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="changeCurrentPost()">
        <!--Advanced set the icon explizit for each plattform-->
        <ion-icon ios="ios-create" md="md-create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="removeBlog(pk)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding style="height: 100%;">
  <ion-card style="height: 65%">
    <ion-card-content>
      <img *ngIf="imageUrl" style="height: 25%;" src="{{ imageUrl }}">
    </ion-card-content>
    <ion-scroll scrollX="false" scrollY="true" style="max-height: 100%; min-height: 45%">
    <ion-card-content>
      {{ (blog$ | async )?.body }}
    </ion-card-content>
    </ion-scroll>
  </ion-card>

  <h2 style="font-family: 'Edwardian Script ITC',serif;"><strong>Kommentar:</strong></h2>

<!--non flexboxed scroll area Y Sector scroll/Image scubber or comment scroller-->
  <ion-scroll scrollX="false" scrollY="true" maxZoom="30" style="height: 30%;">
    <ion-card *ngFor="let comment of comments$ | async">
    <ion-card-header>
      <button ion-button round outline style="float: right" (click)="deleteComment(comment.id)">
        <!--ion icon trash icon used-->
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-card-header>

    <ion-card-content>
      {{ comment.body }}
    </ion-card-content>
    </ion-card>
  </ion-scroll>

  <ion-fab bottom right>
    <button ion-fab color="secondary" (click)="addCommentAlert()">
      <ion-icon ios="ios-chatboxes-outline" md="md-chatboxes"></ion-icon></button>
  </ion-fab>

</ion-content>
