<!--
  ionic -g page blogNeu generiert
-->
<ion-header>

  <ion-navbar>
    <ion-title> Einen neuen Blog erstellen</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label color="primary" floating>Blogtitel</ion-label>
      <ion-input [(ngModel)]="titleString"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea placeholder="Geben sie einen Text ein" [(ngModel)]="bodyString"></ion-textarea>
    </ion-item>
  </ion-list>



</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button full (click)="submitNewBlogPost()">Jetzt erstellen!</button>
  </ion-toolbar>
</ion-footer>
