
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app.
$app-direction: ltr;



//@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #ffd352,
  secondary:  #0e893e,
  danger:     #f51c28,
  light:      #f4f4f4,
  dark:       #ffbbef,
);

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

//Hier muss ich nochmal ran. Das Design war nicht relevant aber mich interessiert wieso der import als Fehler ausgewiesen
 // wird und trotzdem sich das theme ändert. Ausserdem muss ich wissen wie ich die Hintergrundfarbe vom title dementsprechend ändere.
//@import "ionic.theme.dark";
@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts


@import "roboto";
@import "noto-sans";
