<!--
ionic -g page blogList generiert
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      <h1 style="font-family:'Gill Sans Ultra Bold Condensed'">Blogging</h1></ion-title>
  </ion-navbar>

  <ion-navbar>
    <ion-title>
      <h3 style="font-family: 'Edwardian Script ITC',serif;-webkit-box-shadow: #0e893e;">
        <strong>Erstelle einen Blog&#169; 2018 DTH</strong>
      </h3>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let blog of blogs$ | async" (click)="goToDetail(blog.id, blog.image, blog.title, blog.body)" >
    <ion-card-header>
      <ion-card-title >
        {{ blog.title }}

      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img *ngIf="blog.image" style="height: 285px;
      border-radius: 15px 50px" src="{{ blog.image }}" alt="Aendert sich">
    </ion-card-content>

    <ion-card-content>
      {{ blog.body }}
    </ion-card-content>
    </ion-card>

  <ion-fab bottom right>
    <button ion-fab color="secondary" (click)="goToNewBlog()"><ion-icon name="add"></ion-icon>
      "Neu"
    </button>
  </ion-fab>

</ion-content>
