<!--
  ionic -g page blogModi generiert
-->
<ion-header>

  <ion-navbar>
    <ion-title>Change: {{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label color="primary" floating>Blogtitel</ion-label>
      <ion-input [(ngModel)]="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea placeholder="Geben sie einen Text ein" [(ngModel)]="body"></ion-textarea>
    </ion-item>
  </ion-list>



</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button full (click)="changeBlogPost()">Blog Beitrag aktualisieren!</button>
  </ion-toolbar>
</ion-footer>
